* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.corpo {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/*============================= MENU =============================*/
#label {
  background-color: #504b9cb4;
  width: 25%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px;
}

#label p {
  color: #FFF;
  margin-left: .7rem;
  font-weight: 700;
}

#label img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

nav {
  position: fixed;
  background-color: #504B9C;
  width: 25%;
  height: 100%;
  top: 40px;
}

nav a {
  display: block;
  padding: 20px 5px;
  color: white;
  font-weight: 700;
  background: #504b9cb4;
}

nav a i {
  margin-right: .5rem;
  margin-left: .7rem;
}

nav a:hover {
  background-color: rgb(176, 224, 230);
  color: black;
}

ul {
  position: absolute;
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

/*============================= INÍCIO BLOCO 1 =============================*/

.corpo .col-md-9 {
  width: 75%;
  margin-left: 25%;
}

.bloco {
  height: 100vh;
}

#bloco1 {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bloco .cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #504B9C;
}

.bloco .col-md-10 h1{
  color: #fff;
  font-size: 4fr;
  margin-left: 2rem;
}

.bloco .col-md-2 img{
  width: 100%;
}

#bloco1 .texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bloco1 .texto .col-md-5 p {
  margin-left: 1rem;
  font-size: 1rem;
  text-align: justify;
}

#bloco1 .texto .col-md-5 img{
  width: 100%;
}

/*============================= INÍCIO BLOCO 2 =============================*/

#bloco2 {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bloco2 {
  justify-content: space-between;
  align-items: center;
}

#bloco2 .bloco2 .col-md-5 .form {
  display: flex;
  flex-direction: column;
  padding-bottom: .8rem;
  font-weight: 700;
}

#bloco2 .bloco2 .col-md-5 .form .input-form {
  border: solid 2px #504B9C;
  border-radius: 20px;
  padding: 5px;
  background: #504b9c2c;
  outline: none;
}

::-webkit-input-placeholder {
  padding-left: 1rem;
}

#bloco2 .bloco2 .col-md-5 img {
  width: 100%;
}

#bloco2 .bloco2 .col-md-5 .row .calcular {
  border: solid 2px #504B9C;
  border-radius: 20px;
  padding: 5px;
  background: #504b9c2c;
  outline: none;
  transition: linear 400ms;
}

#bloco2 .bloco2 .col-md-5 .row .calcular:hover {
  background: #504B9C;
  color: white;
}



/*============================= INÍCIO BLOCO 3 =============================*/

#bloco3 {
  background: pink;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#bloco3 #nomeAluno {
  border-top-left-radius: 5px;
}

#bloco3 #situacao {
  border-top-right-radius: 5px;
}

/*============================= INÍCIO BLOCO 4 =============================*/

#bloco4 {
  background: indigo;
}

/*============================= INÍCIO BLOCO 5 =============================*/

#bloco5 {
  background: orangered;
}

/*================== RESPONSIVIDADE DO SITE =============================*/

@media screen and (max-width: 1000px) {
  .corpo .col-md-3 {
    width: 25.9%;
  }
}

@media screen and (max-width: 600px) {
  .corpo nav {
    position: unset;
    transition: all 1s ;
    opacity: 0;
  }

  #label {
    width: 100%;
    background: #504B9C;
  }

  #label i {
    display: block;
  }

  #label p {
    display: none;
  }

  input[type="checkbox"]:checked ~ nav {
    opacity: 1;
  }

  input[type="checkbox"]:checked ~ #label {
    background: #504b9cb4;
  }

  input[type="checkbox"]:checked ~ #label .menu-toggle {
    border-top-color: transparent;
  }

  input[type="checkbox"]:checked ~ #label .menu-toggle::before {
    transform: rotate(225deg);
  }

  input[type="checkbox"]:checked ~ #label .menu-toggle::after {
    transform: rotate(-225deg);
    top: -8px;
  }

  .menu-toggle {
    border-top: solid 3px white;
    width: 1.7rem;
  }

  .menu-toggle::after, .menu-toggle::before {
    content: '';
    display: block;
    width: 1.7rem;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }


  ul {
    margin-top: 40px;
  }


  .corpo .col-md-9 {
    width: 100%;
    margin-left: 0;
  }

  .cabecalho img {
    display: none;
  }

  .cabecalho h1 {
    text-align: center;
  }

  #bloco1 .texto .col-md-5 img{
    margin-left: 30px;
    width: 77%;
  }

  #bloco2 .bloco2 .col-md-5 .form label {
    display: none;
  }

  #bloco2 .bloco2 .col-md-5 .form {
    padding: 3px;
  }

  #bloco2 .bloco2 .col-md-5 .form .input-form {
    padding: 2px;
  }

  #bloco2 .bloco2 .col-md-5 img {
    width: 95%;
  }
}
