<div class="corpo">
  <div class="row">
    <div class="col-md-3">
      <div class="divisao">
        <input type="checkbox" name="" id="chec">
        <label for="chec" id="label">
          <p>Nome do Usuário</p>
          <span class="menu-toggle"></span>
          <img src="https://media-exp3.licdn.com/dms/image/C4E03AQFVmBrN_KonSA/profile-displayphoto-shrink_200_200/0/1619177430748?e=1628726400&v=beta&t=JHpIFiSFiD1Kcfi1FPlU02IEe__JljxWkrPBPP809p8" alt="foto do user">
        </label>

        <nav>
          <ul>
            <li>
              <a href="#bloco1"><i class='bx bxs-home'></i>Home</a>
            </li>
            <li>
              <a href="#bloco2"><i class='bx bxs-calculator'></i>Calcule a média</a>
            </li>
            <li>
              <a href="#bloco3"><i class='bx bx-clipboard'></i>Boletim</a>
            </li>
            <li>
              <a href="#bloco4"><i class='bx bxs-edit-alt'></i>Editar Perfil</a>
            </li>
            <li>
              <a href="#bloco4"><i class='bx bxs-videos'></i>Vídeo Aulas</a>
            </li>
            <li>
              <a href="#bloco5"><i class='bx bx-log-out'></i>Sair</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="col-md-9">
      <div class="divisao">
        <!--============================= INÍCIO BLOCO 1 =============================-->
        <div class="bloco" id="bloco1">
          <div class="row cabecalho">
            <div class="col-md-10">
                <h1>
                    Escola Javali Cansado
                </h1>
            </div>

            <div class="col-md-2">
                <img src="https://i.imgur.com/v5ahWah.png" alt="">
            </div>
          </div>

          <div class="row texto">

            <div class="col-md-5">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam blanditiis repellendus consequatur magni facilis dolore. Deleniti laudantium, harum nisi voluptatibus neque delectus quod, veniam obcaecati recusandae fugit ipsa exercitationem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis animi beatae aliquam libero doloribus dolore ipsa distinctio, magnam ducimus iure, pariatur nostrum molestias maiores autem, rerum vero recusandae sed reiciendis!
              </p>
            </div>

            <div class="col-md-5">
              <img src="https://i.imgur.com/S9vxqKz.png" alt="">
            </div>
          </div>
        </div>
        <!--============================= INÍCIO BLOCO 2 =============================-->
        <div class="bloco" id="bloco2">

          <div class="row cabecalho">
            <div class="col-md-10">
                <h1>
                    Calcule a média
                </h1>
            </div>

            <div class="col-md-2">
                <img src="https://i.imgur.com/v5ahWah.png" alt="Logo da escola javali cansado">
            </div>
          </div>

          <div class="row bloco2 mt-3">
            <div class="col-md-5">
              <img src="https://i.imgur.com/ZTtAjYv.png" alt="">
              <div class="row">
                <button class="calcular">
                  Calcular
                </button>
              </div>
            </div>

            <div class="col-md-5">
              <form>
                <div class="form">
                  <label for="nota1">Nota 1</label>
                  <input type="number" class="input-form" name="" id="nota1" placeholder="primeira nota">
                </div>

                <div class="form">
                  <label for="nota1">Nota 2</label>
                  <input type="number" class="input-form" name="" id="nota2" placeholder="segunda nota">
                </div>

                <div class="form">
                  <label for="nota1">Nota 3</label>
                  <input type="number" class="input-form" name="" id="nota3" placeholder="terceira nota">
                </div>

                <div class="form">
                  <label for="nota1">Nota 4</label>
                  <input type="number" class="input-form" name="" id="nota4" placeholder="quarta nota">
                </div>

                <div class="form">
                  <div class="resp">

                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>

        <!--============================= INÍCIO BLOCO 3 =============================-->
        <div class="bloco" id="bloco3">
          <div class="row cabecalho">
            <div class="col-md-10">
                <h1>
                    Escola Javali Cansado
                </h1>
            </div>

            <div class="col-md-2">
                <img src="https://i.imgur.com/v5ahWah.png" alt="">
            </div>
          </div>

          <div class="row d-flex justify-content-center pt-2">
            <div class="col-md-3 text-center bg-info" id="nomeAluno">
              <p>Nome do Aluno</p>
            </div>

            <div class="col-md-1 text-center bg-warning">
              <p>bimestre 1</p>
            </div>

            <div class="col-md-1 text-center bg-dark text-light">
              <p>bimestre 2</p>
            </div>

            <div class="col-md-1 text-center bg-white">
              <p>bimestre 3</p>
            </div>

            <div class="col-md-1 text-center bg-secondary">
              <p>bimestre 4</p>
            </div>

            <div class="col-md-1 text-center bg-success">
              <p>Média</p>
            </div>

            <div class="col-md-3 text-center bg-primary" id="situacao">
              <p>Situação</p>
            </div>
          </div>
        </div>

        <!--============================= INÍCIO BLOCO 4 =============================-->
        <div class="bloco" id="bloco4">

        </div>

        <!--============================= INÍCIO BLOCO 5 =============================-->
        <div class="bloco" id="bloco5">

        </div>

      </div>
    </div>
  </div>
</div>
