:root {
  --securadio: #F92A87;
  --white: #ffffff;
  --width: 18.8rem;
}

.body {
  min-height: 100vh;
  background: #fff;
}

.navigation {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  bottom: 1.25rem;
  width: 18.8rem;
  border-radius: 10px;
  box-sizing: inherit;
  border-left: solid 5px #444;
  background: #0A0C21;
  transition: width .5s;
}

.navigation.active {
  width: 4rem;
}

.navigation .content-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #fff;
}

.navigation.active .content-perfil {
  flex-direction: column;
}

.navigation.active .content-perfil .logo-name img {
  margin-right: 2px;
  margin-bottom: 10px;
}

.navigation.active .content-perfil #hamburger {
  margin-right: 2px;
}

.navigation.active .content-perfil .name-escola {
  display: none;
}

.navigation .content-perfil .logo-name {
  display: flex;
  align-items: center;
}

.navigation .content-perfil .logo-name img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 10px;
}

/* Menu toogle */

.content-perfil #hamburger {
  display: block;
  width: 23px;
  border-top: solid 2px;
  margin-right: 10px;
  color: #7D98A7;
  z-index: 1;
  cursor: pointer;
}

#hamburger::after, #hamburger::before {
  content: '';
  display: block;
  width: 23px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: .4s;
  position: relative;
}

.navigation.active #hamburger {
  width: 26px;
  height: 26px;
  border: solid 1px #F92A87;
  position: relative;
  padding-top: 6px;
  padding-left: 0.07rem;
  border-radius: 50%;
}

.navigation.active #hamburger::before {
  transform: rotate(135deg);
}

.navigation.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 5px;
  padding-top: 100px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-radius: 12px;
}

.navigation ul li:hover {
  background: #7D98A7;
}

.navigation.active ul li {
  background: none;
  padding: 0;
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: .6rem;
  text-decoration: none;
  color: #7D98A7;
}

.navigation.active ul li a {
  padding: 0;
  padding-bottom: .6rem;
}

.navigation ul li:hover a {
  color: #0A0C21;
}

.navigation ul li a .icon {
  position: relative;
}

/* Parte onde eu posso concertar o padding do menu reduzido */

.navigation.active ul li a .icon {
  padding: 10px;
  /*background: red;*/
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active ul li a .icon:hover {
  background: #7D98A7;
  color: #F92A87;
}

.navigation ul li a .icon i {
  font-size: 1.5rem;
  padding-right: .8rem;
}

.navigation.active ul li a .icon i {
  padding-right: 0;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: .8rem;
}

.navigation.active ul li a .title {
  display: none;
}


/* PÁGINA PRINCIPAL */

.bloco {
  width: 75%;
  height: 100vh;
  margin-left: 25%;
  transition: 500ms;
}

.content.active .bloco {
  margin-left: 8%;
  width: 92%;
}

.bloco .one {
  background: #030518;
  width: 100%;
  height: 100%;
}

.bloco .two {
  background: #7D98A7;
  width: 100%;
  height: 100%;
}

/* RESPONSIVIDADE DO SITE */

@media only screen and (max-width: 1025px) {
  .navigation {
    position: fixed;
    top: 1.10rem;
    left: 1.10rem;
    bottom: 1.10rem;
    width: 17rem;
    border-radius: 10px;
    box-sizing: inherit;
    border-left: solid 5px #444;
    background: #0A0C21;
    transition: width .5s;
  }

  .bloco {
    width: 70%;
    height: 100vh;
    margin-left: 30%;
    transition: 500ms;
  }

  .content.active .bloco {
    margin-left: 10%;
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    width: 17.5rem;
    border-radius: 10px;
    box-sizing: inherit;
    border-left: solid 5px #444;
    background: #0A0C21;
    transition: width .5s;
  }

  .bloco {
    width: 60%;
    height: 100vh;
    margin-left: 40%;
    transition: 500ms;
  }

  .content.active .bloco {
    margin-left: 12%;
    width: 88%;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    position: fixed;
    top: .5rem;
    left: .5rem;
    bottom: .5rem;
    width: 17rem;
    border-radius: 10px;
    box-sizing: inherit;
    border-left: solid 5px #444;
    background: #0A0C21;
    transition: width .5s;
  }

  .bloco {
    width: 60%;
    height: 100vh;
    margin-left: 40%;
    transition: 500ms;
  }

  .content.active .bloco {
    margin-left: 18%;
    width: 82%;
  }
}
