<div class="body">
  <div class="navigation">
    <div class="content-perfil">
        <div class="logo-name">
          <img src="https://i.imgur.com/RIq2CCi.gif" alt="">
          <div class="name-escola">Escola Javali Cansado</div>
        </div>
        <span id="hamburger" (click)="menu($event)"></span>
    </div>

    <ul>
      <li class="list">
        <a href="#">
          <span class="icon"><i class='bx bxs-home'></i></span>
          <span class="title">Home</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><i class="fas fa-user-edit"></i></span>
          <span class="title">Perfil</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><i class='bx bxs-message-rounded'></i></span>
          <span class="title">Boletim</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><i class='bx bxs-cog'></i></span>
          <span class="title">Configurações</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><i class="fas fa-question"></i></span>
          <span class="title">Ajuda</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><i class='bx bxs-video'></i></span>
          <span class="title">Vídeo Aula</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><i class='bx bxs-log-out'></i></span>
          <span class="title">Sair</span>
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- PÁGINA PRINCIPAL -->

<div class="content">
  <div class="bloco">
    <section class="one" id="one">
      <h1 style="color: #fff;">Obrigado Deus</h1>
    </section>
  </div>

  <div class="bloco">
    <section class="two" id="two">

    </section>
  </div>
</div>
