<div class="fundo">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Quem é você ?</h1>
      <div class="divisao-img">
        <div class="col-md-2">
          <label for="aluno"><img src="https://i.imgur.com/9JXEvlD.png" alt="" id="aluno-img"></label>
          <input type="radio" name="aluno-prof" id="aluno" checked>
        </div>
  
        <div class="col-md-2">
          <label for="prof"><img src="https://i.imgur.com/0ecAv9B.png" alt=""></label>
          <input type="radio" name="aluno-prof" id="prof">
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="nome">
          </div>

          <div class="form">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="e-mail">
          </div>
    
          <div class="form">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="link da foto">
          </div>

          <div class="form">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="senha">
          </div>

          <div class="form">
            <label for=""></label>
            <input type="text" name="" id="" placeholder="confirmar senha">
          </div>
        </form>
        <div class="form-btn">
          <button class="button-cancelar" routerLink='/login'>Cancelar</button>
          <button class="button" (click)="logar()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
